.container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
}
.body-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.last-nav {
    &::after {
        display: none;
    }
}
.hide {
    visibility: hidden;
    opacity: 0;
    .modal-dialog {
        transform: scale(0);
    }
}
.show {
    visibility: visible;
    opacity: 1;
    .modal-dialog {
        transform: scale(1);
    }
}
.table-item__open {    
    .table-mobile__content {
        display: block;
    }  
    .table-mobile__head {
        &::after {
            transform: translateY(-50%) rotate(-45deg);
        }
        &::before {
            transform: translateY(-50%) rotate(45deg);
        }
    } 
    &::after {
        transform: translateY(-50%) rotate(-45deg);
    }
    &::before {
        transform: translateY(-50%) rotate(45deg);
    } 
}