.advertisement {
    padding: 100px 0;
    &-box {
        position: relative;
    }
    &-img {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-title {
        font-family: 'Helvetica-Bold';
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: normal;
        color: $mainColor;
        max-width: 535px;
        position: absolute;
        top: 100px;
        left: 100px;
    }
}