.tram {
    padding: 50px 0;
    &-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        color: $mainColor;
        letter-spacing: normal;
        margin-bottom: 20px;
        text-align: center;
    }
    &-map {
        margin: 0 auto;
        padding: 30px 0;
        &__img {
            width: 90%;
            height: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}